<div class="sponsors">
  <h3>Gold Sponsor</h3>
  <a href="http://www.minichina.com.cn/mini/cn/zh/index.html" ref="nofollow"><img src="/uploads/2015/03/mini-logo-AT-1-176px.jpg" class="img-responsive" width="176"></a>
  <h3>Silver Sponsors</h3>
  <a href="http://innov8.singtel.com/" ref="nofollow"><img src="/uploads/2014/09/singtel.png" class="img-responsive" width="176"></a>
  <a href="http://www.frogdesign.com/contact/shanghai.html" ref="nofollow"><img src="/uploads/2014/10/frogdesign.jpg" class="img-responsive" width="176"></a>
</div>